/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body{
background-image: url(../img/fondo2.jpg);
background-repeat:no-repeat;
background-size: cover;
}

h1{
font-family: 'Shadows Into Light', cover;
color: green;
margin-left: 10px;
font-size: 60px;
text-align: center; 
}

h2{
font-family: 'Indie Flower', cursive;
color: white;
margin-left: 10px;
font-size: 20px;
text-align: left; 
}

h3{
font-family: 'Shadows Into Light', cursive;;
color: white;
font-size: 30px;
text-align: center; 
}


header{
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}

nav{
width: 1000px;
height: 50px;
background: #8282FF;
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: red;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset; 

}

section{
	width: 200px;
	background: gray;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 20px;
}
aside{

	width: 390px;
	background: #C0E0DA;
	height: 300px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 20px;
}

footer{
width: 1000px;
height: 70px;
background: #F206FF;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p{

	font-size: 12px;
	font-weight: bolder;
	line-height: 14px;
	padding: 10px;
	text-align: justify;
}

img {
	width: 100px;
	background: blue ;
	height: 100px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 20px;
  
}
span {
	font-family: 'Shadows Into Light', cursive;;
color: black;
font-size: 20px;
text-align: center;
float: left;
}
figcaption{

font-family: 'Shadows Into Light', cursive;;
color: white;
font-size: 5px;
text-align: left;

}



/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: white; text-decoration: none;}

/*SEUDO CLASES*/

















