/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body{
background-image: url(../img/fondo10.jpg);
background-repeat:no-repeat;
background-size: cover;
}

h1{
font-family: 'Shadows Into Light', cover;
color: white;
margin-left: 10px;
font-size: 60px;
text-align: center; 
}

h2{
font-family: 'Indie Flower', cursive;
color: black;
margin-left: 10px;
font-size: 20px;
text-align: left; 
}

h3{
font-family: 'Shadows Into Light', cursive;;
color: white;
font-size: 30px;
text-align: center; 
}


header{
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}

nav{
width: 1000px;
height: 50px;
background: #FEA9F3;
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: black;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset; 

}

section{
	width: 1000px;
	background: transparent; ;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 20px;

}
article{
font-family: 'Shadows Into Light', cursive;;
color: black;
font-size: 15px;
text-align: justify;
float: left;


}
aside{

	width: 300px;
	background: #4BFE78 ;
	height: 700px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 20px;
}

footer{
width: 1000px;
height: 70px;
background: #9999FF;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p{

	font-size: 15px;
	font-weight: lighter;
	line-height: 26px;
	padding: 10px;
	text-align: justify;
}
span {
	font-family: 'Shadows Into Light', cursive;;
color: black;
font-size: 18px;
text-align: center;
float: left;
}

img {
	width: 200px;
	background: blue ;
	height: 150px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 20px;
  border: 10;
}


/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: white; text-decoration: none;}

/*SEUDO CLASES*/

















